
body {
    font-family: "Source Sans Pro", "Helvetica Neue", helvetica, arial, sans-serif;
    background: #efefef;
    font-size:100%;
}

a, h1 {
    color: #d51007;
}

h1 {
    font-family: "Arvo",'Georgia', serif;
    text-align: center;
}

#username input {
    font-family: inherit;
    font-size: inherit;
    width: 100%;
}

#credit {
    text-align: center;
    margin-bottom: 3px;
    padding: 0;
}

#twitter-share {
    margin: 30px 0px 20px 0px;
    margin-left:auto;
    margin-right:auto;
    width: 15%;
}

#username {
    width:50%;
    padding-left: -50px;
    margin: 15px auto 30px auto;
    text-align: center;
    font-size: 120%;
}

#flashes {
    list-style-type: none;
    padding: 10px;
    text-align: center;
}

@media only screen
and (min-device-width : 320px)
and (max-device-width : 640px) {
    .page {
        margin: 2% auto;
        width: 90%;
        border: 1px solid #ddd;
        padding: 10px 0px 10px 0px;
        background: white;
    }
    .hide-on-mobile {
        display: none;
    }
}

@media screen and (min-width: 640px) {
    .page {
        margin: 2% auto;
        width: 50%;
        border: 1px solid #ddd;
        padding: 10px 0px 0px 0px;
        background: white;
    }
    .hide-on-mobile {
    }
}


#albums {
        padding: 0px 30px 0px 0px;
}

#albums ol > li {
        padding: 10px 0px 10px 10px;
        background: #eee; 
        border: 1px solid #ddd;
}

#albums ol > li:hover {
    background: #dedede;

}

.odd {
    /* background: #F0D6D6; */
    /* background: #CEE5F5; */
    /* background: #eee; */
}

.flash li {
    background: #CEE5F5;
    border: 1px solid #AACBE2;
    padding: 3px 0px 3px 0px;
}

.error li {
    background: #F0D6D6;
    padding: 3px 0px 3px 0px;
}

/* ---------- play button ---------- */
.play-button {
    float:right;
    padding: 3px 2px 3px 2px;
    margin-top:-15px;
}

.play-button-outer {
    width: 0px;
    height: 0px;
    margin-right: auto;
    margin-left: auto;
    border-top: 8px solid transparent;
    border-bottom: 8px solid transparent;
    border-left: 12px solid #ababab;
    /* left: -17px; */
    /* top: -11px; */
    cursor: pointer;
    position: relative;
    z-index: 3;
}

.play-button-inner {
    width: 0px;
    height: 0px;
    border-top: 4px solid transparent;
    border-bottom: 4px solid transparent;
    border-left: 6px solid #eee;
    position:relative;
    margin-left: 50%;
    margin-right: 50%;
    left: -10px;
    top: -4px;
    z-index: 4;
}

.play-button-pause-outer {
    visibility: hidden;
    width: 0px;
    height: 0px;
    margin-right: auto;
    margin-left: auto;
    border-top: 8px solid transparent;
    border-bottom: 8px solid transparent;
    border-left: 12px solid #ababab;
    /* left: -17px; */
    /* top: -11px; */
    cursor: pointer;
    position: relative;
    z-index: 3;

}

.play-button-pause-inner {
    visibility: visible;
     width: 4px; 
     height: 9px;
     border-left: 2px solid #ababab;
    border-right: 2px solid #ababab;
    margin-left: 50%;
    margin-right: 50%;
    top: -4px;
    left: -10px;
    /* top: 4px; */
    position: relative;
    z-index:4;

}

/* ---------- progress bar ---------- */

progress
{
    /* turn off styling */
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
 
    /* no default border in FF and Opera */
    border: none;
 
    /* Dimensions */
    width: 90%;
    height: 4px;
}
 
/* Firefox  */ 
progress  {
   background: #cdcdcd;
   /* border:1px solid #333; */
}

progress::-moz-progress-bar {
    background: #d51007;
}

progress:not([value])::-moz-progress-bar {
  background: #fff;
}
 
/* Chrome */
progress::-webkit-progress-bar {
    background: #cdcdcd;
}
progress::-webkit-progress-value {
    background: #d51007;
}
progress:not([value])::-webkit-progress-bar {
  background:#fff;
}

.progress-bar {
    display: none;
}

.progress-bar ul {
    list-style-type: none;
}

