{% extends "layout.html" %}
<script>


</script>
{% block body %}
<div id=albums>

<ol>
{% for album in albums %}
    <li class={{ loop.cycle('odd', 'even') }}>
        <a href="{{ album.link }}">{{ album.title }}</a> &mdash; {{ album.artist }}
        <div class=hide-on-mobile>
            <button type=button class=play-button onclick=playButtonClicked(this) ><div class=play-button-outer><div class=play-button-inner></div></div></button>
            <div id=progress-bar><ul><li>
                    
                    <progress max=100 value=60>
                    <strong>Progress: 60% done.</strong>
                    </progress>
                    </li></ul> 
                </div>
        </div>
    </li>

{% endfor %}
</ol>
</div>

<div id=twitter-share>
    <a href="https://twitter.com/share" class="twitter-share-button" data-text="My top albums of 2012:" data-size="large">Tweet</a>

    <script>
        !function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");
    </script>

</div>

{% endblock %}
